div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}

h1 {
  text-align: center;
}
h2 {
  text-align: left;
}

body {
  margin: 0;
}

.top-banner {
  background-color: #62c083;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.radar-container {
  /* width: 500px !important;
  height: 500px !important; */
  width: 1fr;
  height: 1fr;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.scatter-container {
  /* width: 500px !important;
  height: 500px !important; */
  width: 1fr;
  height: 1fr;
  border: 2px solid black;
}
.matrix-container {
  /* width: 500px !important;
  height: 500px !important; */
  width: 1fr;
  height: 1fr;
  border: 2px solid black;
}
.wrapper {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  /* grid-template-rows: 70% 30%; */
}
.wrapper > div {
  /* background: #eee; */
  padding: 1em;
}

.axis-label {
  font-size: 30px;
}

.axis-selector {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.button-container {
  text-align: center;
  margin-bottom: 10px;
}

.genre-button {
  width: 100px;
}

.genre-button:hover {
  border-color: black;
  opacity: 75%;
}

.axis-selector1-container {
  margin-bottom: 10px;
}

.axis-selector {
  font-size: 22px;
}

.axis-selector:disabled {
  color: black;
}

.min-track-selector {
  font-size: 22px;
}

.min-track-selector:disabled {
  color: black;
}

.axis-selector2-container {
  margin-bottom: 10px;
}

.about-text {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.vis-descriptions {
  text-align: left;
}

.click {
  text-align: center;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

.top-banner-title {
  display: inline;
}

.toggle-button-div {
  padding-left: 3px;
  padding-right: 3px;
  border: 3px solid black;
  font-weight: bolder;
  display: inline;
  float: right;
  margin-right: 15px;
}

.toggle-button-div:hover {
  border: 3px solid white;
  color: white;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Faddllback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 95%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
