div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}

h1 {
  text-align: center;
}
h2 {
  text-align: left;
}

body {
  margin: 0;
}

.top-banner {
  background-color: #62c083;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.radar-container {
  /* width: 500px !important;
  height: 500px !important; */
  width: 1fr;
  height: 1fr;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.scatter-container {
  /* width: 500px !important;
  height: 500px !important; */
  width: 1fr;
  height: 1fr;
  border: 2px solid black;
}
.matrix-container {
  /* width: 500px !important;
  height: 500px !important; */
  width: 1fr;
  height: 1fr;
  border: 2px solid black;
}
.wrapper {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  /* grid-template-rows: 70% 30%; */
}
.wrapper > div {
  /* background: #eee; */
  padding: 1em;
}

.axis-label {
  font-size: 30px;
}

.axis-selector {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.button-container {
  text-align: center;
  margin-bottom: 10px;
}

.axis-selector1-container {
  margin-bottom: 10px;
}

.axis-selector2-container {
  margin-bottom: 10px;
}

.text{
  text-align: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  
}
.click{
  text-align: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}